{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}
<div class="grid">

<div class="a1-b4">
	
{% include "partials/_img-1.html" %}


<h1 class="display">About us</h1>

<div class="columns">

<p class="dropcap">We founded North West Property Services in 1999 and became N.W.P.S. Construction Ltd. in 2002. Over the past 22 years, we&#8217;ve worked with clients across North Wales and the surrounding areas. We&#8217;ve built flats and houses for Clwyd Alyn Housing Association and other housing associations. We maintain properties for Denbighshire, Flintshire, and Wrexham County Councils, as well as other public bodies in North Wales.</p>

<p>But there&#8217;s more to us than what we build for our clients. We honour our commitments and complete every job we start. Our reliable local workforce provides a highly professional service with meticulous planning and obsessive attention to detail. We&#8217;re excellent at communicating with clients and we know how to complete high-quality building projects on-time and within budget.</p>
</div><!-- columns -->

{% include "partials/_accreditations.html" %}

<h2 id="communities-people">Communities and people</h2>

<div class="columns">
	
<p>We&#8217;re committed to supporting communities and provide a range of community benefits. Employing over fifty employees in North Wales, we&#8217;re proud of the value we&#8217;ve added. Our contribution to the local economy was over &#163;2m in the last twelve months. We currently have two apprentices and employ at least one new apprentice every year. We allow our employees to develop professionally as much as they&#8217;d like. Some employees have progressed to become construction, contracts, and site managers.</p>
	
</div><!-- columns -->

<!-- Next -->

<hr>

<h2 id="charity-support">Charity support</h2>

<div class="columns">

<p><img src="/images/logo-alzheimers.svg" alt="Alzheimer&#8221;s Society logo" class="shape-alzheimers"> We make frequent contributions and donations to local good causes. In the past, we&#8217;ve provided equipment for local schools and sports teams. We&#8217;ve helped with family fun days, participated in the RNLI raft race, and sponsored a variety of causes and events. We&#8217;ve been a proud sponsor of Rhyl Football Club since 2012. Each year, we raise funds for two charities, one national, the other local. This year, we&#8217;re supporting the national Alzheimer&#8221;s Society charity and the St. Kentigern Hospice in our local area.</p>

</div><!-- columns -->

<!-- Next -->

<hr>

<h2 id="considerate-constructors-scheme">Considerate Constructors Scheme</h2>

<div class="columns">

<p><img src="/images/logo-considerate-constructors.svg" alt="Considerate Constructors Scheme logo" class="shape-constructors"> The Considerate Constructors Scheme is a national initiative. It was set up by the construction industry to improve its image. Companies which register with the Considerate Constructors Scheme are monitored against a Code of Considerate Practice, designed to encourage best practice beyond statutory requirements.</p>

<p>We&#8217;re proud to support the Considerate Constructors Scheme and have been a member since 2009. We were presented with the Gold Award&#8212;their highest accolade&#8212;in 2012. In 2014, we were invited to become Company Partners by the Scheme&#8217;s Board. Partner Membership of the Scheme highlights our commitment to improving the image of the construction industry.</p>

</div><!-- columns -->

</div>

<div class="a5-a6 sidebar-container">
{% include "partials/_sidebar.html" %}
</div>

</div><!-- grid-athens -->

{% endblock %}