{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/team.css'] %}

{% set pageHeaderTitle = title %}

{% block content %}
<div class="services">
	
<div class="services__intro">

{% if featureImage %}
<div>{{ featureImage | safe }}</div>
{% endif %}

<div>
<h1 class="display">{{ title }}</h1>
{{ content | safe }}
</div>
	
</div><!-- nth-child(1) services__intro -->
	


{%- for post in collections.services -%}
<div>

<div>{{ post.data.featureImage | safe }}</div>

<div>
<h2 class="alt"><a href="{{ post.data.permalink }}">{{ post.data.title }}</a></h2>
{{ post.data.intro | safe }}
</div>
</div>
  
{%- endfor -%}

	
</div><!-- services -->
{% endblock %}