// Navigation Blocks

.navigation-blocks {
    display: grid;
    grid-gap: var(--spacing);
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
     @media only screen and (min-width: 1500px) {
         grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
     }
}

.navigation-blocks-item {
    
    position: relative;
    display: grid;
    text-align:center;

    --flow-space: 1rem;

}

.navigation-blocks-item:before {
    content: "";
    padding-top: 100%;
    display: block;
    grid-area: 1/1/2/2;
}

.navigation-blocks-item  a {
    transition: all 0.3s ease-in;
    background-color:var(--khaki);
    padding:var(--spacing-medium);
    text-decoration:none;
    width: 100%;
    height: 100%;
    min-height:350px;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    grid-area: 1/1/2/2;
    font-size:100%;
    color:currentColor;

    .navigation-block-title-roll, .navigation-block-title {
        height:40px;
    }

    .navigation-block-title-roll {
        display:none;
        font-size: 1.25rem;
        
    }

    h3 {
        transition: all 0.3s ease-in;
        text-transform: lowercase;
        font-family: 'estebakregular';
        font-size: 1.5rem;
        height:40px;
    }

    h3:before , h3:after {
        transition: all 0.3s ease-in;
        font-size: 75%;
        font-family: 'highgate_trialregular';
        opacity:0;
    }
    

    h3:before {
        content:"";
        margin-right:7px;
    }

    h3:after {
        content:"";
         margin-left:7px;
    }

    svg {
        
        width:100%;
        height:140px;

        path {
            transition: all 0.3s ease-in;
            fill:#000;
        }
    }

}



.navigation-blocks-item:nth-child(1)  a:hover h3{
        color:var(--english-violet-light);
}

.navigation-blocks-item:nth-child(2)  a:hover h3{
        color:var(--pink);
}

.navigation-blocks-item:nth-child(3)  a:hover h3{
        color:var(--green-light);
}

.navigation-blocks-item:nth-child(4)  a:hover h3{
        color:var(--blue-light);
}

.navigation-blocks-item:nth-child(5)  a:hover h3{
        color:var(--gold);
}

.navigation-blocks-item  a:hover {
    background-color:var(--english-violet);
    color:var(--white);

    .navigation-block-title-roll {
        display:block;
    }

    .navigation-block-title {
        display:none;
    }

    svg {
        
        path {
            fill:var(--white);
        }
    }

    h3:before , h3:after {
        opacity:1;
        color:var(--white) !important;
    }

    h3:before {
        content:"No two";
    }

    h3:after {
        content:"are the same";
    }

    


}

