.testimonial-block {
    blockquote {
        font-size: 2.5rem;
        line-height: 1;
        border-bottom: solid 1px var(--gold);
        padding-bottom: var(--spacing);
        margin-bottom: var(--spacing);
    }
}
