@font-face {
    font-family: 'heptaslab-regular';
    src: url('/fonts/heptaslab-regular.woff2') format('woff2'),
         url('/fonts/heptaslab-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heptaslab-bold';
    src: url('/fonts/heptaslab-bold.woff2') format('woff2'),
         url('/fonts/heptaslab-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'heptaslab-extrabold';
    src: url('/fonts/heptaslab-extrabold.woff2') format('woff2'),
         url('/fonts/heptaslab-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}