// COLOURS
:root {
    
    --english-violet-dark: #1f1c26;
    --english-violet: #473e5b;
    --english-violet-light: #C3AAFA;
    --pink: #d7478c;
    --khaki: #baaf91;
    --khaki-light: #ece5cf;
    --green-light: #A2BB68;
    --blue-light: #13A7BE;
    --gold: #B4A212;
    --white: #ffffff;
    --grey-light: #F2F2F2;

    --spacing-small: .5rem;
    --spacing: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 4rem;

    --flow-space: 2rem;

    --font-size-small: .75rem;
    --font-size-default: 1rem;
    --font-size-medium: 1.25rem;

}