
#home #logo {

    width:300px;
    height:auto;
    
    path, g {
        fill: white; 
    }
}

#home .left-spread {
    background-color:var(--english-violet);
    color:var(--white);
    display: flex;
    padding: var(--spacing-medium);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    h1 {
        font-size: 2.2rem;
        line-height:1.2;
        font-weight:300;

        span {
            display:block;
            color:var(--khaki);
            font-size:4rem;
            font-family: 'estebakregular';
        }
    }

    p {
        width:65%;
        font-size:1.25rem;
    }


    .hamburger {
        position: absolute;
        left: 50px;
        top: 50px;
    }

    .feature-image {
        // Make the image bleed to edges
        width: calc(100%  + (var(--spacing-medium )*2));
        height:auto;
    }
}



@import 'blocks/navigation-blocks';

.full-svg {
    width:100%;
    height:auto;
}


// OVERRIDE PURPLE BG ON HOME ONLY

.main-content {
   background-color:var(--grey-light);
    color:var(--black);
  @media (prefers-color-scheme: light) {
    background-color:var(--grey-light);
    color:var(--black);
  }

}
