<footer role="contentinfo">

<div class="contentinfo__nav">
<ul>
{% for item in footer_navigation.items %}
                    <li>
                        <a href="{{ item.url }}"
                            {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
                    </li>
                    {% endfor %}
</ul>

<small>&#169; Copyright 2021 &nbsp; <a href="https://stuffandnonsense.co.uk">Website design by Stuff &#38; Nonsense</a></small>
</div><!-- one -->

<div class="contentinfo__logo">
<a href="#nwpsconstruction-com" title="Back to top">{% include "partials/_logo.html" %}</a>
</div><!-- two -->

</footer>