<article class="timeline flow">

    <h3 class="gradient-text">{{timeline.title}}</h3>
    <ul>
        <li>
            <h4>{{timeline.itemTitle1}}</h4>
            <p>{{timeline.itemText1}}</p>
        </li>
        <li>
            <h4>{{timeline.itemTitle2}}</h4>
            <p>{{timeline.itemText2}}</p>
        </li>
        <li>
            <h4>{{timeline.itemTitle3}}</h4>
            <p>{{timeline.itemText3}}</p>
        </li>
        <li>
            <h4>{{timeline.itemTitle4}}</h4>
            <p>{{timeline.itemText4}}</p>
        </li>
    </ul>
</article>